.clients {
    @extend %section;

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: calc(33 / 28);
        text-align: center;
        color: var(--main-title-color);
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }
    &__card {
            width: 210px;
            height: 92px;    
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 1px solid #AFB1B8;
        border-radius: 4px;

        color: rgba(175, 177, 184, 1);

        transition: color var(--time) var(--function-time), border var(--time) var(--function-time);

        &:hover, &:focus {
            border: 1px solid var(--header-color-hover);
            
            color: var(--header-color-hover);
        
        }
    }
    &__icon {
        fill: currentColor;

        transition: fill var(--time) var(--function-time);
        &:hover, &:focus {
            fill: var(--header-color-hover); 
        }
}
@media screen and (min-width: 768px) {
   

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }
    &__card {
            width: 226px;
    }

    
}
  

  @media screen and (min-width: 1200px) {
    &__title {
        font-size: 36px;
        line-height: calc(42 / 36);
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        gap: 30px;
        }
    &__card {
            width: 170px;
            height: 92px;    
    }

    
}
  }



