.footer {
    background: var(--background-footer-color);
    font-style: normal;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 60px;
        
    }
    &__address {
        width: 231px;
        text-align: center;
    }
    &__link {
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }    
    
    &-item-adr {
        font-style: normal;
        line-height: calc(24 / 14);
        color: var(--footer-inform-color);
        text-decoration: none;

        transition: color var(--time) var(--function-time);
        &:hover, &:focus {
            color: var(--header-color-hover);
        }
    }

    &-item {
        font-style: normal;
        line-height: calc(24 / 14);
        color: var(--footer-inform-color);
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);

        transition: color var(--time) var(--function-time);
        &:hover, &:focus {
            color: var(--header-color-hover);
        }
    }
    &-subscribe {
        margin: 0;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
        
    }
    &-subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    }
    &-subscribe-field-form {
        width: 430px;
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        background-color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: var(--background-color);
        &::placeholder {
            font-size: 16px;
            line-height: calc(20 / 16);
        
            color: rgba(255, 255, 255, 0.6);
        }
    }

    @media screen and (min-width: 768px) {
        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__address {
            padding-left: 76px;
            text-align: left;
        }
        .logo__footer {
            text-align: center;
        }
        &__socials {
            padding-right: 89px;
            margin-right: 0;
        }
        &-subscribe {
            margin-left: 166px;
            margin-right: 152px;
        }
        &-subscribe-field-form {
            width: 430px;
            height: 50px;
        }
      }

      
      @media screen and (min-width: 1200px) {
        

    &__container {
        display: flex;
        gap: 70px;
        align-items: baseline;
    }
    &__address {
        width: 231px;
    }
    &__link {
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: 0;
        }
    }    
    
    &-item-adr {
        font-style: normal;
        line-height: calc(24 / 14);
        color: var(--footer-inform-color);
        text-decoration: none;

        transition: color var(--time) var(--function-time);
        &:hover, &:focus {
            color: var(--header-color-hover);
        }
    }

    &-item {
        font-style: normal;
        line-height: calc(24 / 14);
        color: var(--footer-inform-color);
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);

        transition: color var(--time) var(--function-time);
        &:hover, &:focus {
            color: var(--header-color-hover);
        }
    }
    &-subscribe {
        margin: 0;
        margin-left: auto;
        padding: 0;
    }
    &-subscribe-field-form {
        width: 358px;
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        background-color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: var(--background-color);
        &::placeholder {
            font-size: 16px;
            line-height: calc(20 / 16);
        
            color: rgba(255, 255, 255, 0.6);
        }
    }
      }
}
.sign-on {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--footer-inform-color);
    padding-left: 0;
    margin-bottom: 20px;
    
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--footer-inform-color);
    padding-left: 0;
    margin-bottom: 20px;
    height: 16px;
    }
}




.btn--subscribe {
    display: inline-flex;
    justify-content: space-between;
    
    min-width: 200px;
    padding: 10px 28px;
    margin-left: 10px;
        
    border-width: 0;
    box-shadow: none;
    
    transition: box-shadow var(--time) var(--function-time);
    
    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
    display: inline-flex;
    justify-content: space-between;
    
    min-width: 200px;
    padding: 10px 28px;
    margin-left: 10px;
        
    border-width: 0;
    box-shadow: none;
    
    transition: box-shadow var(--time) var(--function-time);
    
    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}
}

