.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 122px;
    margin-right: 122px;
        &__item {
         width: 44px;
         height: 44px;
    }
    @media screen and (min-width: 768px) {
        margin-left: 74px;
    margin-right: 74px;
      }
    
      
      @media screen and (min-width: 1200px) {
        margin-left: 32px;
    margin-right: 32px;
      }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        margin-bottom: 0;
        color: rgba(175, 177, 184, 1);

        transition: color var(--time) var(--function-time), background-color var(--time) var(--function-time);
        &:hover, &:focus {
            background-color: var(--header-color-hover);
            color: var(--logo-hover);
        }
    }
    &__icon {
        fill: currentColor;
    }



        &--dark-mark {
            margin-left: 0;
            margin-right: 0;
        }
        &__item--dark-mark {
            width: 44px;
            height: 44px;
            color: rgba(255, 255, 255, 1);
            }
        &__link--dark-mark {
            width: 100%;
            height: 100%;   
            color: var(--footer-inform-color);
            
        }
        &__icon--dark-mark {
            fill: currentColor;
        }
}
