:root {
    --main-title-color: #212121;
    --main-desc-color: #757575;
    --header-inform-color: #757575;
    --secondary-logo-color: #000000;
    --header-color-hover: #2196F3;
    --first-logo-color: #2196F3;
    --btn-color: #2196F3;
    --logo-hover: #FFFFFF;
    --footer-inform-color: #FFFFFF;
    --background-color: #FFFFFF;
    --banner-text-color: #FFFFFF;
    --background-team-color: #F5F4FA;
    --btn-color-hover: #188CE8;
    --background-banner-color: #2F303A;
    --background-footer-color: #2F303A;
    --border-header: #ECECEC;
    --function-time: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
}